<!DOCTYPE html>
<html>
<head>
    <title>Dodaj Gracza</title>
</head>
<body>
<h1>Dodaj Gracza</h1>

<form method="post" action="{% url 'add_player' %}">
    {% csrf_token %}
    <label for="player_name">Imię i Nazwisko Gracza:</label>
    <input type="text" name="player_name" id="player_name" required>

    <label for="club_name">Nazwa Klubu:</label>
    <input type="text" name="club_name" id="club_name" required>

    <label for="club_country">Kraj Klubu:</label>
    <input type="text" name="club_country" id="club_country" required>

    <label for="club_league">Liga Klubu:</label>
    <input type="text" name="club_league" id="club_league" required>

    <button type="submit">Dodaj gracza</button>
</form>

</body>
</html>


{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>Dodaj Gracza</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Dodaj Gracza</h1>#}
{##}
{#    <form method="post" action="{% url 'add_player' %}">#}
{#        {% csrf_token %}#}
{#        <label for="player_name">Imię i Nazwisko Gracza:</label>#}
{#        <input type="text" name="player_name" id="player_name" required>#}
{##}
{#        <label for="club_name">Nazwa Klubu:</label>#}
{#        <input type="text" name="club_name" id="club_name" required>#}
{##}
{#        <!-- Dodane nowe pola klubu -->#}
{#        <label for="club_country">Kraj Klubu:</label>#}
{#        <input type="text" name="club_country" id="club_country" required>#}
{##}
{#        <label for="club_league">Liga Klubu:</label>#}
{#        <input type="text" name="club_league" id="club_league" required>#}
{##}
{#        <button type="submit">Dodaj gracza</button>#}
{#    </form>#}
{##}
{#</body>#}
{#</html>#}
